env/
results/genotypes_quality_checked/
results/quality_controls/
results/pca/samples.eigenval
results/pca/samples.eigenvec
results/pca/samples.log
scripts/filter_subjects_excessive_heterozigosity.r
scripts/gwas.sh
scripts/pca.sh
scripts/plot_pca.r.Rhistory
scripts/.Rhistory
scripts/plot_pca.r
.Rhistory
setup
results/gwas/
scripts/plot_gwas.rscripts/filter_heterozigosity.r
scripts/plot_gwas.r
scripts/filter_heterozigosity.r
scripts/test.R
